Задание
Водитель в Якутске собирается поехать из пункта А в пункт Б. Он готов взять с собой попутчиков.
Написать алгоритм, который предложит водителю наиболее подходящие заказы по пути маршрута. 


Входные параметры:
Маршрут водителя - координаты точки А и Б
Массив заказов, где заказ содержит координаты точек А и Б.

In [47]:
import pandas as pd
import numpy as np

In [25]:
#координаты пункта А и Б, пример
point_A = (0, 0) #долгота и широта
point_B = (7, 7)

In [26]:
#создание массива с координатами заказчиков, пример
orders = [
    {'start': (1, 2), 'end': (3, 3)},
    {'start': (2, 2), 'end': (4, 5)},
    {'start': (3, 4), 'end': (5, 6)}
    
]

1. Необходимо определить общий путь от т.А до т.Б. Используется любой метод нахождения кратчайшего пути, алгоритм на графах, например алгоритм Дейкстры или алгоритм А*. Для этого создается класс, имеющий методы 
2. Далее сравнить массив заказов с путем водителя и для каждого заказа найти ближайшую точку на маршруте водителя. 
3. После сравнения определяется порядок выполнения заказов с целью минимизации общей длины маршрута водителя.
4. После того как водитель забирает пассажира его маршрут обновляется.

Скажу так, код прописать сама не смогу, поэтому сделала запрос в нейронной сети, и некоторые вещи стали понятны, часть нет. 

В рамках изученного мною материала по анализу данных, имея такие данные по поездке (датасет, с которым работаю – данные о поездках в Нью-Йорке) я бы рассчитала расстояние между пунктами отправления и прибытия, создала колонку с подсчитанным расстоянием distance, далее сравнивая расстояния с помощью if else, составляю маршрут водителя, где в первую очередь он подберет пассажира с наименьшим расстоянием.

In [40]:
df = pd.read_csv('C:/Users/lybov/Downloads/my_files/mnt/HC_Volume_18315164/home-jupyter/jupyter-l-petrova/nyc.csv.zip')
df.head()
#pickup_ - координаты места, где подобрали пассажира
#dropoff_ - координаты, где пассажира высадили

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [41]:
# пишу функцию haversine для подсчета расстояния между пунктами отправления и прибытия 
def haversine (latitude1,longitude1,latitude2,longitude2, r=6371):
    latitude1,longitude1,latitude2,longitude2 = [np.deg2rad(x) for x in (latitude1,longitude1,latitude2,longitude2)] #deg2rad - Перевод градусов в радианы
    lat_sin = np.sin((latitude2-latitude1)/2) ** 2
    lat_cos = np.cos(latitude1)*np.cos(latitude2)
    long_sin = np.sin((longitude2-longitude1)/2) **2
    d = 2*r*np.arcsin(np.sqrt(lat_sin+long_sin*lat_cos))
    return d

In [ ]:
#latitude1, latitude2- широта исходного местоположения и широта пункта назначения в радианах, 
# longitude1, longitude2 — долгота исходного местоположения и долгота пункта назначения в радианах,
# rr — радиус сферы, будем считать его равным 6371.

In [42]:
haversine(-73.844311,40.721319,-73.841610,40.712278)

0.4104417357506325

In [ ]:
#Саму функцию можно применить как используя обычный цикл

In [43]:
#сохраним в переменную distances список дистанций для каждой строки
distances = []

In [44]:
# проитерируемся по датафрейму по каждой строке
for i, row in df.iterrows():
    distance = haversine(row.pickup_latitude, row.pickup_longitude, row.dropoff_latitude, row.dropoff_longitude)
    distances.append(distance) #после итерации задаем список в ДФ
df['distance'] = distances

In [45]:
df.head()
#добавили колонку distance с расстоянием,которое мы проехали по каждому маршруту

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,1.030764
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,8.450134
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1.389525
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2.799270
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.999157

Далее сравниваю distance по каждой строке с помощью if else, составляю маршрут водителя, где в первую очередь он подберет пассажира с наименьшим расстоянием.